@import "tailwindcss";
@plugin "daisyui";
@keyframes grow-shrink {
    0%, 100% { transform: scale(1); }  /* Normal size */
    50% { transform: scale(1.2); }  /* Grow 20% bigger */
  }
@layer utilities {
    @keyframes typing {
      from { width: 0%; }
      to { width: 100%; }
    }
  
    @keyframes blink {
      50% { opacity: 0; }
    }
    @keyframes vanish {
      to { opacity: 0; }
    }
  
    .animate-typing {
      animation: typing 3s steps(30) forwards;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      /* Cursor effect */
    }
  
    .animate-blink {
      animation: blink 1s step-start infinite;
    }
    .cursor {
      animation: blink 1s step-start infinite, vanish 0.5s forwards;
      animation-delay: 3s, 3.5s; /* Blinks for 3s, then vanishes */
    }
  }
